@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #EEE0CB;
	color: #36453B;
	font-family: 'Montserrat', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
