
.festivalAdminCard {
    background-color: #C2C1A5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.festivalAdminCard > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.festivalAdminCard > div > span {
    justify-content: flex-start;
}
.galerija {
    
}

.galerija img {
    max-width: 10rem;
    max-height: 10rem;
}