.korisnikAdminCard {
    background-color: #C2C1A5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
}

.korisnikAdminCard > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.korisnikAdminCard .label {
    font-weight: bold;
    color: #555;
    margin-right: 10px;
}

.korisnikAdminCard span {
    color: #333;
}

.korisnikAdminCard .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.korisnikAdminCard button {
    background-color: #704E2E;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.korisnikAdminCard button:hover {
    background-color: #0056b3;
}

.editKorisnikForma {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 560px;
    padding: 1rem;
    gap: 5px;
    align-content: center;
}

.invalid {
    border-color: red;
}

.editPopupBG {
    display: relative;
    background-color: #cecdb0;
    position: fixed;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    min-width: 520px;
}
