.tabela {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
    border-collapse: collapse;
    overflow: hidden;
    color: #36453B;
}

.tabela th, td {
    border: 2px solid #b48253;
    padding: 12px; 
    text-align: center;
    
}

.tabela th {
    background-color: #BAA898;
    font-weight: bold; 
    text-transform: uppercase;
    text-align: center;
    color: #36453B; 
}

.tabela tr:nth-child() {
    background-color: #f9f9f9; 
}

.tabela tr:hover {
    background-color: #BAA898; 
}