@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEE0CB;
    color: #36453B;
    font-family: 'Montserrat', sans-serif;

    
}

nav {
    background-color: #EEE0CB;
    color: #36453B;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%; 
    border-bottom: #C2C1A5;

}
nav a {
    color: #36453B;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
nav a:hover {
    background-color: #C2C1A5;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #704E2E;
    border-radius: 5px;
  }
  
  .dropbtn:hover {
    background-color:  #C2C1A5;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:  #704E2E;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color:  #C2C1A5
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

header {
    background-color:  #C2C1A5;
    color: #fff;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
}
footer {
    background-color: #C2C1A5;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}
.container {
    width: 80%;
    margin: 20px auto;
}
h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.organizatori-lista {
    list-style: none;
    padding: 0;
}
.organizatori-lista li {
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    background-color: #79745C;
    border-radius: 15px;
}
.organizatori-lista li a {
    color: #fff; 
    text-decoration: none; 
}
.organizatori-lista li:hover {
    background-color:  #704E2E;
    cursor: pointer;
}

.container {
    width: 60%;
    margin: 20px auto;
}

.organizatori-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.organizator-item {
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.organizator-item a {
    text-decoration: none; 
    color: inherit; 
    text-align: center;
}

.organizator-item a:hover {
    text-decoration: none; 
}

.organizator-item img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px;
    transition: transform 0.3s ease; 
}

.organizator-item img:hover {
    transform: scale(1.1); 
}
.organizator-item h2 {
    margin-top: 10px;
    font-size: 1.2rem;
    color:  #704E2E; 
    text-decoration: none; 
    text-transform: uppercase; 
}
table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
    border-collapse: collapse;
    overflow: hidden;
    color: #36453B;
}

th, td {
    border: 2px solid #b48253;
    padding: 12px; 
    text-align: center;
    
}

th {
    background-color: #BAA898;
    font-weight: bold; 
    text-transform: uppercase;
    text-align: center;
    color: #36453B; 
}

tr:nth-child() {
    background-color: #f9f9f9; 
}

tr:hover {
    background-color: #BAA898; 
}

/* Pop up */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



  /* Stilizacija osnovnog dugmeta */
button {
    background-color: #EEE0CB; 
    border: none; 
    color: #36453B; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
}

button:hover {
    background-color: #C2C1A5; 
    border-radius: 5px;
}

.tabela {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
    border-collapse: collapse;
    overflow: hidden;
    color: #36453B;
}

.tabela th, .tabela td {
    border: 2px solid #b48253;
    padding: 12px; 
    text-align: center;
}

.tabela th {
    background-color: #BAA898;
    font-weight: bold; 
    text-transform: uppercase;
    text-align: center;
    color: #36453B;
}

.tabela img {
    width: 100px;
    height: auto;
}

.tabela th[colspan="2"] {
    width: 100px;
}

.tabela button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.tabela button:hover {
    background-color: #555;
}